
// navbar colors
$navbar-background-color: #a0a1a2;
$navbar-text-color: #ffffff;

// navbar sizes
$navbar-width: 100%;
$navbar-height: 5em;

// background colors
$background-color-light: #efeff0;
$background-color-dark-grey: #4C525D;

// text colors 
$color-light: #efeff0;
$color-dark-grey: #4C525D;
$color-red : #CF0927;
$color-dark-strong: #252424;

// border colors 
$bordercolor-blue: #0960CF;

// border width
$borderwith-small: 2em;
$borderwith-smaller: 1.5em;
$borderwith-smallest: 1em;

// border radius
$border-radius-with-small: 2em;
$border-radius-with-smaller: 1.5em;
$border-radius-with-smallest: 1em;

// media queries
$min-phone-width: 320px; 
$min-tablet-width: 700px;
$min-large-desktops-width: 992px;
$min-extra-large-desktops-width: 1200px;

// padding
$padding-small: 1em;
$padding-smaller: 0.5em;
$padding-smallest: 0em;

// margin
$margin-small: 1em;
$margin-smaller: 0.5em;
$margin-smallest: 0em;

// font-size small
$font-size-small:  1.2em;
$font-size-smaller: 1em;
$font-size-smallest: 0.5em;

// font-size large
$font-size-larg:  1.5em;
$font-size-larger: 2;
$font-size-largest: 2.5;
