/* Button style */
@import '../../sharedStyles/globalVariablesScss.scss';

.buttonLabel {
    color: $color-dark-strong;
}
.button {
    display: block;
    padding: $padding-small;
    height: 5em;
    margin-bottom: $margin-small;
    border-radius: 5px;
    width: 35%; 
    &:focus {
        border-radius: 0em;
        background-color: $background-color-dark-grey;
    }
}


// Medium devices (tablets, 700px and down)
@media ( max-width: $min-tablet-width ) { 
    .button { width: 50%; }
}