/* Button style */
@import '../../globalStyles/globalVariables.scss';

.buttonLabel {
    color: $color-dark-strong;
}
.button {
    display: block;
    padding: $padding-small;
    height: 5em;
    border-radius: 5px;
    &:focus {
        border-radius: 0em;
        background-color: $background-color-dark-grey;
        border:  5px solid $bordercolor-blue;
    }
}

// Small devices (landscape phones, 320px and up)
@media only screen and ( min-width: $min-phone-width ) {
    .button { width: 25%; margin-bottom: $margin-small; }
}
// Medium devices (tablets, 700px and up)
@media ( min-width: $min-tablet-width ) { 
    .button { width: 25%}
}

// Large devices (desktops, 992px and up)
@media ( min-width: $min-large-desktops-width ) { 
    .button { width: 35%  } 
 }

// Extra large devices (large desktops, 1200px and up)
@media ( min-width: $min-extra-large-desktops-width ) {
    .button { width: 35% }
}