/* Button style */
@import '../../sharedStyles/globalVariablesScss.scss';

.button {
    display: block;
    padding: $padding-small;
    height: 5em;
    margin-bottom: $margin-small;
    border-radius: 5px;
    border: 2px solid $bordercolor-light;
    width: 25%; 
    background-color: $background-color-black;
    &:focus {
        box-shadow: none;
        background-color: $background-color-blue;
    }
    .buttonLabel {
        color: $color-light;
        font-size: $font-size-small * 2;
    }
}


// Small devices, Medium devices ( phones, tablets, 700px and down )
@media ( max-width: $min-tablet-width ) { 
    .button { width: 50%; }
}