@import '../../../globalStyles/globalVariables.scss';

.viewContainer {
    position: relative;
    top: 10em;

    .counter {
        width: 25%;
        margin: auto;
        color: $color-dark-grey;
    }
}

// Small devices (landscape phones, tables, 700px and down)
@media only screen and ( max-width: $min-tablet-width ) {
    .viewContainer {
        .counter {
            display: block;
            margin-left: $margin-small;
            width: 100%;
        }
    }
}


