/* View counter page style */
@import '../../../sharedStyles/globalVariablesScss.scss';

.viewContainer {
    position: relative;
    top: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .counter {
        color: $color-dark-grey;
        &::first-letter{ text-transform: uppercase; }
    }
}



