@import '../../globalStyles/globalVariables.scss';

.navbar {
    position: fixed;
    top: 0;
    width: $navbar-width;
    background-color: $navbar-background-color;
    height: $navbar-height;
    overflow: hidden;
}

ul { list-style: none; }
ul > li > a {  text-decoration: none; color: $navbar-text-color; }

.navbarItemContainer {
    display: flex;
    justify-content: space-around;
    .navbarItem {
        .active {
            color: $color-red;
            text-decoration: underline;
        }
    }
}

// Small devices (landscape phones, 320px and up)
@media only screen and ( min-width: $min-phone-width ) {
   .navbarItemContainer {
    flex-direction: column;
    .navbarItem {
        padding-bottom: $padding-smaller;
        .active {
                font-size: $font-size-small;
            }
        }
    }
}
// Medium devices (tablets, 700px and up)
@media ( min-width: $min-tablet-width ) { 
    .navbarItemContainer {
        flex-direction: row;
        .navbarItem {
            .active {
                font-size: $font-size-smaller;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media ( min-width: $min-large-desktops-width ) { 
    .navbarItemContainer {
        flex-direction: row;
        .navbarItem {
            .active {
                font-size: $font-size-smaller;
            }
        }
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media ( min-width: $min-extra-large-desktops-width ) {
    .navbarItemContainer {
        flex-direction: row;
        .navbarItem {
            .active {
                font-size: $font-size-small;
            }
        }
    }
}