/* Home style */
@import '../../../sharedStyles/globalVariablesScss.scss';

.buttonContainer {
    position: relative;
    top: 20em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}