/* Home style */
@import '../../../sharedStyles/globalVariablesScss.scss';

.buttonContainer {
    position: relative;
    top: 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
// Small devices (landscape phones, tables, 320px, 700px and down)
@media only screen and ( max-width: $min-tablet-width ) {
    .buttonContainer {
        flex-direction: column;
    }
}

