// navbar colors
$navbar-background-color:#000000;
$navbar-text-color: #ffffff;

// navbar sizes
$navbar-width: 100%;
$navbar-height: 5em;

// background colors
$background-color-black: #000000;
$background-color-blue: #0960CF;

// text colors 
$color-dark-grey: #4C525D;
$color-blue : #0960CF;
$color-dark-strong: #000000;
$color-light: #ffffff;

// border colors 
$bordercolor-light: #47474c;

// media queries
$min-phone-width: 320px; 
$min-tablet-width: 700px;
$min-large-desktops-width: 992px;
$min-extra-large-desktops-width: 1200px;

// padding
$padding-small: 1em;
$padding-smaller: 0.5em;
$padding-smallest: 0em;

// margin
$margin-small: 1em;
$margin-smaller: 0.5em;
$margin-smallest: 0em;

// font-size small
$font-size-small:  1.2em;
$font-size-smaller: 1em;
$font-size-smallest: 0.5em;

// font-size large
$font-size-larg:  1.5em;
$font-size-larger: 2;
$font-size-largest: 2.5;
